<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashcss.css' %}">



</head>

<body>
    {% block content%}
    <label>
        <input type="checkbox">
        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>
        <div class="slide">
            <h1 style="text-align:center ;">NLI</h1>
            <ul>
                <li><a href=""><i class="fas fa-box"></i>Dashboard</li></a>
                <li><a href=""><i class="fas fa-user"></i>subh</li></a>
                <li><a href=""><i class="fas fa-tv"></i>parth</li></a>
                <li><a href=""><i class="fas fa-comments"></i>akansha</li></a>
            </ul>
            <div id="logout">
                <ul>
                    <li><a href="">Log Out</a></li>
                </ul>
            </div>
        </div>
    </label>
    {% endblock content%}
</body>

</html>