{% extends "dash/base.html" %} 


<!DOCTYPE html>
{% load static %}

    {%block content%}
    <div class="container align-middle mt-5>
      <p class="lead mt-auto ml-auto">
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, dolorem quidem sit magnam provident amet tempore fugit minus, vel, sequi harum? Adipisci consectetur placeat nesciunt quae illum, deserunt iste ea laboriosam amet? Quae, at. Eum adipisci, obcaecati cumque, quas aliquid illum necessitatibus sunt voluptates accusamus neque, at ipsam voluptatibus placeat quaerat amet expedita.
        </p>
    </div>

   
    {%endblock%}
